<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookStores</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryHot</display-name>
    <servlet-name>QueryHot</servlet-name>
    <servlet-class>com.dianbenshu.service.QueryHot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryHot</servlet-name>
    <url-pattern>/QueryHot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dianbenshu.service.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CorsFilter</display-name>
    <filter-name>CorsFilter</filter-name>
    <filter-class>com.dianbenshu.service.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Keep</display-name>
    <servlet-name>Keep</servlet-name>
    <servlet-class>com.dianbenshu.service.Keep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Keep</servlet-name>
    <url-pattern>/Keep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryShoppingCar</display-name>
    <servlet-name>QueryShoppingCar</servlet-name>
    <servlet-class>com.dianbenshu.service.QueryShoppingCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryShoppingCar</servlet-name>
    <url-pattern>/QueryShoppingCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBookById</display-name>
    <servlet-name>QueryBookById</servlet-name>
    <servlet-class>com.dianbenshu.service.QueryBookById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBookById</servlet-name>
    <url-pattern>/QueryBookById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerySwiperPic</display-name>
    <servlet-name>QuerySwiperPic</servlet-name>
    <servlet-class>com.dianbenshu.service.QuerySwiperPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerySwiperPic</servlet-name>
    <url-pattern>/QuerySwiperPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopperCar</display-name>
    <servlet-name>AddShopperCar</servlet-name>
    <servlet-class>com.dianbenshu.service.AddShopperCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopperCar</servlet-name>
    <url-pattern>/AddShopperCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShoppingCar</display-name>
    <servlet-name>DeleteShoppingCar</servlet-name>
    <servlet-class>com.dianbenshu.service.DeleteShoppingCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShoppingCar</servlet-name>
    <url-pattern>/DeleteShoppingCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Address</display-name>
    <servlet-name>Address</servlet-name>
    <servlet-class>com.dianbenshu.entiy.Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAddressList</display-name>
    <servlet-name>QueryAddressList</servlet-name>
    <servlet-class>com.dianbenshu.service.QueryAddressList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAddressList</servlet-name>
    <url-pattern>/QueryAddressList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrder</display-name>
    <servlet-name>AddOrder</servlet-name>
    <servlet-class>com.dianbenshu.service.AddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrder</servlet-name>
    <url-pattern>/AddOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryHotPC</display-name>
    <servlet-name>QueryHotPC</servlet-name>
    <servlet-class>com.dianbenshu.servicePC.QueryHotPC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryHotPC</servlet-name>
    <url-pattern>/QueryHotPC</url-pattern>
  </servlet-mapping>
</web-app>